@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
    font-family: Raleway, Calibri, Arial, sans-serif;
}

.maintitle{
    color: white;
    padding: 200px;
    font-size: 50px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 5px 15px;
}

nav ul li a {
    color: black;
}

.col {
    flex: 0 1 auto;
    padding: 5px 30px;
    float:left;
    width: 44%;
    /*width: 44%;*/
}

.aboutme {
    width: 90%;
    background-image: url("blueblobby.png");
    background-size: 700px 100%;
    padding: 70px;

}


/*.colincol2 {
    margin: 1%;
    float: right;
    width: 80%;
    font-size: 22px;

} */

.text {
    margin: 50px;
    font-size: 20px;
/*
      font-weight: 70;
      color: white;
      position: absolute;
      top: 117%;
      left: 72%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      */
      color: white;
}




.parallax {
  background-image: url(about.gif);
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


footer {
    clear: both;
}

.content {
    display: flex;
    flex-flow: row wrap;

}